<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->

    <title>Rakshaniti - Homepage</title>

    <!-- Bootstrap core CSS -->
    {{ 'bootstrap.css' | stylesheet_tag }}

    <!-- Custom styles for this template -->
    {{ 'color-styles.css' | stylesheet_tag }}
    {{ 'ui-elements.css' | stylesheet_tag }}
    {{ 'custom.css' | stylesheet_tag }}
    
    <!-- Resources -->
    {{ 'animate.css' | stylesheet_tag }}
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic,500italic,700italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>